body {
    background-image:url("../photos/wooden.png");
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 15px;
    font-family: 'Asap', sans-serif;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .5px;
}

.profPic {
    margin-left:10%;
}

.batmat {
    width:503px;
}

.jumbotron {
    color: white;
    font-size: 45px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 35%;
    margin-bottom:-50px;
    margin-top:-50px;
    font-family: 'Asap', sans-serif;

    
}

.austinIndex {
    font-size: 70px;
    text-shadow: 1px 10px 2px black; 
    margin-left:-10px;

}

.name {
 font-size: 45px;
 margin-left:130px;
 margin-bottom:10px;
 font-family: 'Asap', sans-serif;
}

.footer-copyright {
    padding-top:50px;
    padding-left:35%;
}

.nav.inline-navbar{
    display: inline-block;
}

.headtext {
    font-size: 25px;
}

/* .wrapper {
    background-color: rgba(20, 20, 20, 0.555);
    font-size: 18px;
} */

a {
    color: white;
}

a:hover {
    color: rgb(255, 255, 255);
    font-size: 28px;
    text-shadow: 1px 3px 2px black; 
}



.container {
    /* background-color: rgba(20, 20, 20, 0.616); */
    font-size: 18px;
}



.navbar { 
    text-align: center; 
    /* background-color: rgba(20, 20, 20, 0.616); */
}

ul.nav li { 
    display: inline; 
}