@font-face {
    font-family:'linotypeBold';
    src:url('linotypeBoldCond.otf');
}

@font-face {
    font-family:'linotypeReg';
    src:url('linotypeReg.ttf');
}

body {
    background-color: rgba(0, 113, 189, 0.966);
    color: white;
    font-size: 15px;
    font-family: 'linotypeReg';

}

p {
    margin:5px;
}

.profPic {
    margin-left:10%;
}

.batmat {
    width:100%;
    height:auto;
    margin-bottom: 20px;
    margin-right: 15px;
}

.row .projects {
    background-color: rgb(0, 0, 52);
}

.row.spacer {
    background-color:rgb(0,113,189.966);
}

.plothole {
    width:100%;
    height: auto;
    margin-bottom: 20px;
}


#skills {
    margin-top:10px;
    margin-bottom:10px;
    padding-top:10px;
    padding-bottom:10px;
}

.padders {
    margin-top:10px;
    margin-bottom:10px;
    padding-top:10px;
    padding-bottom:10px;
}

.jumbotron {
    color: black;
    font-size: 45px;
    width:400px;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 35%;
    margin-bottom:-40px;
    margin-top: 10px;
    font-family: 'linotypeBold';
        
}

.darkBlue{
    background-color: rgba(0, 0, 52, 0.712);
    color: rgb(255, 255, 255);
    margin-top:-15px;
    padding-top: -15px;
    padding-left: 20px;

}

.austinFl {
    width:25%;
    height:auto;
}

.darkBlue2{
    background-color: rgba(0, 0, 52, 0.712);
}


.wrapper a {
    color:white;
}

.wrapper a :hover {
    color:white;
}

.austinIndex {
    font-size: 55px;
    margin-left:-10px;
}

.name {
 font-size: 45px;
 background-color: rgb(0, 0, 52);
 font-family: 'linotypeBold';
}

.projectName {
    font-size: 45px;
    margin-bottom: 20px;
    font-family: 'linotypeBold';
    /* font-style:italic;
    font-weight: 100; */
}

.projectName4 {
    font-size: 45px;
    margin-bottom: 20px;
    margin-left:27%;
    width:100%;
    font-family: 'linotypeBold';
}

.viewproj {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'linotypeBold';
    font-style:italic;
    font-weight: 100;
}

.mainBody {
    background-color: rgb(0, 0, 52);
    padding-top:25px;
    padding-bottom:25px;
}


.contactMe {
    font-size: 345%;
    font-family: 'linotypeBold';
}

#contact {
    margin-top: 25%;
}

.footer-copyright {
    padding-top:50px;
    padding-left:35%;
}

.headtext {
    font-size: 25px;
}

nav {
    float:right;
    margin-right: 3%;
}

nav ul {
    float: right;
}

a {
    color: white;
}

/* a:hover {
    color: rgb(255, 255, 255); 
    z-index: 2;
} */

li {
    font-family: 'linotypeBold';
}

nav li {
    list-style: none;
}

nav a {
    color: rgb(0, 0, 0);
}

nav a:hover {
    color: rgb(0, 0, 0);
    text-shadow: 1px 3px 2px black; 
    
}


.jumbotron{
    color:white;
}

.contacting li {
    list-style: none;
    font-size: 20px;
}

.container {
    
    font-size: 18px;
}

.header{
    display: inline;
    width:100%;
    font-family:'linotypeBold';
}

.wrapped {
    background-color: white;
    padding:10px;
}

.headerName{
    font-size: 300%;
    max-width: 50%;
   
    color:black;
}

.headerName a:hover {
    color: rgb(0, 0, 0);
    text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.692); 
    text-decoration:none;
}

.homePage {
    color:black;
}


.headerWrapper {
    background-color: white;
    color: black;
    margin-bottom: 4%;
    height: 100px;
}

a.headerWrapper {
    color: black;
}

#logo-large{
text-align: center;
font-size: 3em;
font-weight: 200%;
}

#logo-small{
display: inline;
font-weight:0;
font-size: 3em;

}

.splashName {
    font-size: 120px;
    font-family:'linotypeBold';
    margin-top: 15%;
}

.splashTitle {
    font-size: 65px;
    font-family:'linotypeBold';
}

.enterButton {
    width:125px;
    height: auto;
    margin-top:25px;
}

footer{
    color: rgb(255, 255, 255);
    
    bottom: 0;
}

.indexFooter {
    margin-top: 10%;
}

.contextWrapper {
    max-width: 100%;
    height:auto;
}

.contactIcon {
    width: 75px;
    height:auto;
    margin-right: 10px;
    margin-left:10px;
}

#email {
    height:75px;
    width:auto;
    margin-right: 10px;
    margin-left:10px;
}

#linked {
    height:125px;
    width:auto;
    margin-right: 10px;
    margin-left:10px;
}

h2 {
    font-family: 'linotypeBold';
}



/* @media (max-width) */